/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #a9a5a5;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #030303;
    border-radius: 5px;
    background-color: #74c9e3;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #11217c;
    border-radius: 3px;
}

button {
    background-color: #0e893d;
    color: #fff;
    border: 2px solid #030303;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

#result {
    font-weight: bold;
}
